
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
  <link rel="icon" href="/style/img/artcar-logo.ico">

  <title>Cadastro de Veículos</title>

  <!-- Bootstrap core CSS -->
  <link href="/style/css/bootstrap.min.css" rel="stylesheet">

  <link href="/style/css/fileinput.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/style/css/veiculoForm.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

  <script src="/style/js/jquery.number.min.js"></script>
  
  <script src="/style/js/bootstrap.js"></script>

  <script src="/style/js/fileinput.js"></script>

  <script src="/style/js/theme.min.js"></script>

  <script type="text/javascript">
    <%var veiculo = lista;%>
    <%if (veiculo == undefined) {
      var fotos = [];
      for (var i = 0; i < 4; i++) {
        fotos.push({
          base64: null
        });
      }
    } else {
      var idVeiculo = veiculo.idVeiculo; var tipoVeiculo = veiculo.tipoVeiculo; 
      var path = veiculo.path; var marca = veiculo.marca; var modelo = veiculo.modelo; var anoModelo = veiculo.anoModelo;
      var anoFabricacao = veiculo.anoFabricacao; var versao = veiculo.versao; var cor = veiculo.cor;
      var combustivel = veiculo.combustivel; var cambio = veiculo.cambio; var portas = veiculo.portas;
      var quilometragem = veiculo.quilometragem; var descricao = veiculo.descricao;
      var fotos = [];
      for (var i = 0; i < 4; i++) {
       if (veiculo.fotos[i] != undefined) {
        fotos.push({
          base64: 'data:image/png;base64,'+ veiculo.fotos[i].foto
        });
      }else{
        fotos.push({
          base64: null
        });
      }
    }
  }%>
</script>
</head>

<body>
  <div class="text-center">
    <div class="container">

      <form action="/wb-admin/form" method="post" enctype="multipart/form-data">
        <h1 class="jumbotron-heading">Cadastro de Veículo</h1>
        <div class="form-row">
          <%if(idVeiculo){%>
          <div>
            <input type="hidden" name="idVeiculo" value="<%=idVeiculo%>">
          </div>
          <%}%>

          <div class="form-group col-md-4">
            <label for="options">Tipo de Veículo</label>
            <select class="form-control" name="tipoVeiculo" id="tipoVeiculo">
              <option>Carro</option>
              <option>Moto</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label for="marcas">Marca</label>
            <select class="form-control" name="marca" id="marcas">
              <option>Audi</option>
              <option>Chery</option>
              <option>Chevrolet</option>
              <option>Chrysler</option>
              <option>Citroen</option>
              <option>Dodge</option>
              <option>Fiat</option>
              <option>Ford</option>
              <option>Honda</option>
              <option>Hyundai</option>
              <option>Jac</option>
              <option>Jeep</option>
              <option>Kia</option>
              <option>Mercedes-Benz</option>
              <option>Mitsubishi</option>
              <option>Nissan</option>
              <option>Peugeot</option>
              <option>Renault</option>
              <option>Suzuki</option>
              <option>Toyota</option>
              <option>Troller</option>
              <option>Volkswagen</option>
              <option>Volvo</option>
	      <option>Yamaha</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Modelo</label>
            <input type="text" value="<%=modelo%>" class="form-control" name="modelo" placeholder="Nome do veículo" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-2"><label>Ano Modelo</label>
            <input type="text" value="<%=anoModelo%>" class="form-control" name="anoModelo" placeholder="2018-2019" required>
          </div>

          <div class="form-group col-md-2"><label>Ano Fabricação</label>
            <input type="text" value="<%=anoFabricacao%>" class="form-control" name="anoFabricacao" placeholder="2017-2018" required>
          </div>

          <div class="form-group col-md-8"><label>Versão do Veículo</label>
            <input type="text" value="<%=versao%>" name="versao" class="form-control" placeholder="1.6 TRENDLINE CE 8V FLEX 2P MANUAL" required>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Combustível</label>
            <select class="form-control" id="combustivel" name="combustivel">
              <option>Alcool</option>
              <option>Gasolina</option>
              <option>Flex</option>
              <option>Diesel</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Câmbio</label>
            <select class="form-control" id="cambio" name="cambio">
              <option>Manual</option>
              <option>Automátio</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label>Cor</label>
            <input type="text" value="<%=cor%>" name="cor" class="form-control" required>
          </div>

          <div class="form-group col-md-2">
            <label>Porta</label>
            <select class="form-control" name="portas" id="portas">
              <option>Nenhuma</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6"><label>Quilometragem</label>
           <input class="form-control" id="quilometragem" value="<%=quilometragem%>" type="text" name="quilometragem" placeholder="200000 km" required>
         </div>
       </div>

       <div class="form-row">
        <div class="form-group col-md-12">
          <label>Imagem</label>
          <div class="form-check" id="form-check">
            <input id="input-b5" name="imagem" type="file" accept="image/png, image/jpeg" multiple>
          </div>
        </div>
      </div>

      <div class="form-group" style="margin-top: 2%;">
        <label>Descrição do veículo</label>
        <textarea class="form-control"  name="descricao" id="descricao" rows="4" required><%=descricao%></textarea>
      </div>

      <input class="btn btn-primary" type="submit" value="Salvar" style="margin-top: 2%;">

      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
      <a href="/wb-admin/lista">Ir para listagem</a> || <a href="/wb-admin">Sair do Sistema</a>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#tipoVeiculo").change(function() {
      var tipoVeiculo = $(this).val(), count = 0;
      if (tipoVeiculo != 'Moto') {
        $('#portas').prop( "disabled", false );
      }else{
        $('#portas').prop( "disabled", true );
      }
    });
    $("#input-b5").fileinput({
     theme: "gly",
     maxFileCount: 8,
     validateInitialCount: true,
     showCaption: false,
     dropZoneEnabled: false,
     showUpload: false,
     initialPreview : [
     '<%=fotos[0].base64%>',
     '<%=fotos[1].base64%>',
     '<%=fotos[2].base64%>',
     '<%=fotos[3].base64%>'],
     initialPreviewAsData : true,
     initialPreviewFileType : 'image',
     previewFileType: "image",
     browseClass: "btn btn-success",
     browseLabel: "Pick Image",
     browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
     removeClass: "btn btn-danger",
     removeLabel: "Delete",
     removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> "
   });
  });

  $('#quilometragem').number(true);

  document.getElementById("tipoVeiculo").value = '<%=tipoVeiculo%>';
  document.getElementById("marcas").value = '<%=marca%>';
  document.getElementById("combustivel").value = '<%=combustivel%>';
  document.getElementById("cambio").value = '<%=cambio%>';
  document.getElementById("portas").value = '<%=portas%>';
</script>
</body>
</html>
